.wrapper {
    position: relative;
    z-index: 3;
    max-width: 660px;
}

.wrapper * {
    color: #fff;
}

.genres {
    color: #7b61ff;
    font-size: 14px;
    font-weight: 600;
}

.nameOfMovie {
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 60px;
}

.starIcon {
    color: red;
}

.descr {
    margin-top: 2rem;
    color: #cccdd2;
}

.movieInfo {
    position: relative;
    display: flex;
    align-items: center;
}
.grade {
    margin-left: 1rem;
}
.year::before,
.durationFilm::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 100%;
    opacity: 0.5;
    margin: 0 16px;
    vertical-align: middle;
}

.restriction {
    font-size: 14px;
    margin-left: 1rem;
    padding: 7px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.actions {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.watchLater {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    background: transparent;
}

.watchLater .watchLaterText,
.watchLater .bookmarkIcon {
    transition: 0.3s all;
}

.watchLater:hover .watchLaterText,
.watchLater:hover .bookmarkIcon {
    fill: #7b61ff;
    color: #7b61ff;
}

.watchLater * {
    display: flex;
    align-items: center;
}

.bookmarkIcon {
    width: 24px;
    height: 24px;
    fill: #fff;
}
