.wrapper {
    width: 206px;
}

.preview {
    min-width: 100%;
    height: 290px;
    background-color: red;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.title {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
